.public-layout {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-gray-50);
  display: flex;
  flex-direction: column;
}

.public-main {
  width: 100%;
  padding-top: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center children horizontally */
}

@media (max-width: 768px) {
  .public-main {
    padding-top: 60px;
  }
}